{% extends "base.html" %}

{% block title %}Кандидаты для {{ vacancy.desired_position }} - Huntflow MVP{% endblock %}

{% block content %}
<div class="row mb-4">
    <div class="col-12 position-relative">
        <a href="{{ url_for('vacancies') }}" class="btn btn-outline-secondary position-absolute start-0 top-0 mt-1">
            <i class="fas fa-arrow-left me-2"></i>Назад к вакансиям
        </a>
        <h2 class="text-center mb-4">Соответствие по вакансии: &laquo;{{ vacancy.desired_position|capitalize }}&raquo;</h2>
    </div>
</div>

{% set sorted_candidates = candidates|sort(attribute='matching_score', reverse=True) %}
<ul class="list-group">
    {% for candidate in sorted_candidates %}
    <li class="list-group-item d-flex align-items-center justify-content-between">
        <a href="{{ url_for('candidate_detail', candidate_id=candidate.id) }}" class="fw-bold text-decoration-none">{{ candidate.name }}</a>
        {% if candidate.matching_score is not none %}
        <a href="{{ url_for('detailed_matching', candidate_id=candidate.id, vacancy_id=vacancy.id) }}" class="flex-grow-1 mx-3" style="text-decoration: none;">
            <div class="progress" style="height: 12px; cursor:pointer;">
                <div class="progress-bar" style="width: {{ candidate.matching_score }}%"></div>
            </div>
        </a>
        <span class="text-muted">{{ candidate.matching_score }}%</span>
        {% endif %}
    </li>
    {% endfor %}
</ul>
{% endblock %} 